*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #003566;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.box-style{
  background-color: #001d3d;
  border: 2px solid #ffc300;
  width: calc(100% / 10);
  height: calc(100% / 10);
  color: red;
}

.lux{
  background-color: blue;
}