*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: brown;
  width: 500px;
  height: 500px;
}

.box-style{
  background-color: aliceblue;
  border: 2px solid black;
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.lux{
  background-color: blue;
}